@import 'global.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body {
    background-color: #e6e6e6;
}

h1 {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    padding: 5px;
}

p {
    margin: 3px;
}

.container {
    width: 80%;
    margin: auto;
    display: grid; 
    grid-template-columns: minmax(150px, 1fr) 4fr;
    gap: 20px;
}

aside, main {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 10px;
}

aside {
    height: fit-content;
}

ul li {
    list-style-type: none;
    padding: 3px;
}

ul li a {
    text-decoration: none;
}

h3 {
    text-decoration: underline;
    margin-top: 5px;
}

#variable ul {
    text-align: left;
}

#variable ul li{
    list-style-type: disc;
    list-style-position: inside;
}

li span {
    font-weight: 700;
}

